<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details view-details">
      <ul class="user-data">
          <li><p>First name</p><p>{{firstName}}</p></li>
          <li><p>Last name</p><p>{{lastName}}</p></li>
          <li><p>Email</p><p>{{email}}</p></li>
          <li><p>Age</p><p>{{age}}</p></li>
      </ul>
      <button class="btn btn-sm btn-primary" type="button" id="edit">Edit</button>
    </div>
    <div class="col-md-6 details edit-details">
      <ul class="user-data">
          <li><p>First name</p><input type="text" value={{firstName}}></li>
          <li><p>Last name</p><input type="text" value={{lastName}}></li>
          <li><p>Email</p><input type="text" value={{email}}></li>
          <li><p>Age</p><input type="text" value={{age}}></li>
      </ul>
      <button class="btn btn-sm btn-primary" type="button" id="save">Save</button>
       <button class="btn btn-sm btn-primary" type="button" id="cancel">Cancel</button>
    </div>
  </div>
</div>